@media all and (max-width: 1366px) {

.canyon
{
  top: 195%;
  z-index: -10000;
}
.Os-Alta
{
  top: 195%;
  left: 55%;

}
.Pemberli
{
  top: 237%;
}
.Sherwood
{
right: 7%;
top: 245%;
}
.tree
{
right: 10%;
}
.dark
{
margin-top: -100%;
}
.ship
{
margin-top: -300%;
}
.ministerstvo
{
  margin-top: 80%;
margin-left: 260%;
}
.Westmountains
{
  right: 0%;
top: 269%;
}
.yellowbrick
{

  left: 0%;
  top: 313%;
}
.Ketterdam
{
  top: 280%;
}
.flashlight
{
  top: 370%;
}
.fadeforest
{
  top: 210%;
}
.Hogsmeade
{
  top: 315%;
}
.watergardens
{
  top: 340%;
}
.Minor
{
  top: 340%;
}
.forbiddenWoods
{
  top: 360%;
}
.Maryino
{
  top:400%;
  left: 50%;
}
.WarPeace
{
top: 415%;
left: 10%;
}
.sea
{
  top: 455%;
}

@media all and (max-width: 1024px) {
  .canyon
  {
    top: 250%;
    z-index: -10000;
    left: 7%;
  }
  .dark
  {
  margin-top: -150%;
  }
  .Os-Alta
  {
    top: 265%;
    left: 40%;
}
.Pemberli
{
  top: 315%;
  left: 5%;
  }
  .Westmountains
  {
    left: 0%;
  top: 353%;
  }
  .Ketterdam
  {
    top: 390%;
  }
  .Hogsmeade
  {
    top: 445%;
  }
  .watergardens
  {
    top: 490%;
  }
  .sea
  {
    top: 690%;
  }
  .fadeforest
  {
    top: 255%;
  }
  .yellowbrick
  {
    top: 430%;
    left: -20%;
  }
  .Sherwood
  {
  right: 7%;
  top: 230%;
  }
  .WarPeace
  {
  top: 625%;
  left: 10%;
  }
  .Minor
  {
  top: 460%;
  left: 60%;
  }

  .forbiddenWoods
  {
    top: 540%;
  }
  .Maryino
  {
    top:570%;
    left: 30%;
  }
  .flashlight
  {
    top: 570%;
  }
  .ministerstvo
  {
    margin-top: 90%;
  margin-left: 160%;
  }
}
